body {
  font-family: futura-pt, Arial, sans-serif;
  font-size: $font-size-base;
  font-weight: $font-regular;
  line-height: $line-height-base;
  color: $black;
}

.text {
  color: $black;
  font-family: futura-pt, Arial, sans-serif;
  font-size: $font-size-base;
  font-weight: $font-regular;

  &.is-white {
    color: $white;
  }

  &.is-red {
    color: $red;
  }

  @media($mobile) {
    font-size: 14px;
  }
}

h1,
.h1 {
  font-family: futura-pt-bold, Arial, sans-serif;
  font-size: 120px;
  font-weight: $font-bold;
  margin: 0 0 .6em;

  &-reversed {
    color: $red;
    text-shadow: $h1-text-shadow-reversed;
  }

  &-white {
    color: $white;

    .h1-reversed {
      text-shadow: $h1-text-shadow-white;
    }
  }

  &.with-shadow {
    text-shadow: $h1-text-shadow;

    @media($mobile) {
      font-size: 36px;
      margin: 0 0 .07em;
      text-shadow: $h2-text-shadow-mobile;
    }
  }
}

h2,
.h2 {
  font-family: futura-pt-bold, Arial, sans-serif;
  font-size: 48px;
  font-weight: $font-bold;
  margin: 0 0 .47em;

  &-reversed {
    color: $red;
    text-shadow: $h2-text-shadow-reversed;
  }

  &.is-white {
    color: $white;
  }

  @media($mobile) {
    font-size: 36px;
    margin: 0 0 .07em;
  }

  &.with-shadow {
    text-shadow: $h2-text-shadow;

    @media($mobile) {
      text-shadow: $h2-text-shadow-mobile;
    }
  }
}

h3,
.h3 {
  font-size: 30px;
  font-weight: $font-bold;
  margin: 0 0 .53em;
}

h4,
.h4 {
  font-size: 26px;
  font-weight: $font-bold;
  margin: 0 0 .3em;
}

h5,
.h5 {
  font-size: 20px;
  font-weight: $font-bold;
  margin: 0 0 .4em;
}

h6,
.h6 {
  font-size: 18px;
  font-weight: $font-bold;
  margin: 0 0 8px;
}

a {
  color: $black;
  font-family: 'futura-pt';
  font-weight: $font-medium;
  text-decoration: none;
  @include basicTransition;

  &:hover {
    border-bottom-color: transparent;
  }
}

p {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol {
  margin: 0 0 0 1em;
  padding: 0;
}

.is-medium {
  font-weight: $font-medium;
}




