// Typography
$font-family: 'FuturaPT';

$font-size-base: 24px;
$line-height-base: 1.2;

// font-weights
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-ultra: 900;

//colors
$black: #333333;
$red: #FA1F26;
$gray: #E4E3DD;
$white: #FFFFFF;

$h1-text-shadow: 4px 4px 0 $red;
$h2-text-shadow: 3px 3px 0 $red;
$h2-text-shadow-mobile: 2px 2px 0 $red;
$h1-text-shadow-reversed: 4px 4px 0 $black;
$h2-text-shadow-reversed: 3px 3px 0 $black;
$h1-text-shadow-white: 4px 4px 0 $white;
$h1-text-shadow-white-mobile: 1px 1px 0 $white;
$h1-text-shadow-black-mobile: 1px 1px 0 $black;


// media queries
$mobile: 'max-width: 767px';
$tablet: 'max-width: 1024px';
$desktop: 'max-width: 1366px';
$wide-desktop: 'max-width: 1499px';
$large-desktop: 'max-width: 1799px';

// Building Units
$building-unit: 8px;
$building-unit-x0_5: $building-unit / 2; // 4px
$building-unit-x2: $building-unit * 2; // 16px
$building-unit-x3: $building-unit * 3; // 24px
$building-unit-x4: $building-unit * 4; // 32px
$building-unit-x5: $building-unit * 5; // 40px
$building-unit-x6: $building-unit * 6; // 48px
$building-unit-x7: $building-unit * 7; // 56px
$building-unit-x8: $building-unit * 8; // 64px
$building-unit-x9: $building-unit * 9; // 72px
$building-unit-x10: $building-unit * 10; // 80px
$building-unit-x11: $building-unit * 11; // 88px
$building-unit-x12: $building-unit * 12; // 96px


