.select-o2 {
  &-box {
    background-color: $white;
    -webkit-appearance: none;
    font-size: 18px;
    font-family: futura-pt, Arial, sans-serif;
    font-weight: $font-regular;
    line-height: $line-height-base;
    color: $black;
    outline: none;
    border: 1px solid $gray;
    padding: $building-unit $building-unit-x2;
    width: 100%;
    border-radius: 0;
    transition: all .4s;

    // arrow
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;

    &.wider {
      padding: $building-unit-x2;
      background-position-y: 15px;
    }
  }

  &-error {
    position: absolute;
    font-size: 14px;
    padding-left: $building-unit;
    bottom: -$building-unit-x3;
    color: $red;
    font-weight: $font-medium;
  }
}


